<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-info panel-block-color panel-square">
        <div class="panel-heading">
          <h3 class="panel-title">Motion & Instructionss</h3>
          <div class="right-content">
            <div class="btn-group">
              <%= link_to new_motion_path, class: "btn btn-warning" do %>
                <i class="fa fa-plus"></i> Add new motion
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="box">
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="main-datatable">
                <thead class="the-box dark full">
                  <tr>
                    <th>Name</th>
                    <th>Body part</th>
                    <th>Image</th>                 
                  </tr>
                </thead>
                <tbody>
                  <% (@motions).each do |motion| %>
                    <tr>

                      <td><%= link_to motion.name, motion_path(motion) %></td>
                      <td><%= motion.body_part %></td>
                      <td><%=  %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div>
        </div><!-- /.panel-body -->        
      </div><!-- /.panel panel-info -->
  </div><!-- /.col-sm-4 -->
</div>
<script>
  $(document).ready(function(){
      $('#main-datatable').dataTable();
  });
</script>